.FilterContainer {
    display: flex;
    margin-top: 1.5rem;
    flex-direction: column;
    align-items: flex-start;
    /* position: fixed;
    left: 3%; */
  }

/* --------------------------------TITLE-------------------------------- */
.FilterTitle{
    font-size: 1rem;
    cursor:pointer;
    letter-spacing: 0.2rem;
    text-transform: uppercase;
    color: #17424b;
    padding: 1rem;
    margin-top: 0.5rem;
}

/* --------------------------------GENRES-------------------------------- */
.ContenedorBotonesFiltro {
    list-style: none;
}

.FilterLI{
    list-style: none;
    margin-bottom: 1rem;
    border: none;
}

.FilterLI button {
    border: none;
    background-color: transparent;
    color: grey;
    padding: 4px 15px;
    cursor: pointer;
    display: block;
    outline: none;
    transition: background-color 0.5s ease;
}
.FilterLI button:hover {
    color: black;
    transition: background-color 0.5s ease;
}
  
  /* Estilos para los botones activos */
.ActiveButton {
    color: black;
}

.ActiveButtonNull {
    color: black;
}

/* --------------------------------PUBLISHER-------------------------------- */
.BookPublisherContainer {
    display: flex;
    flex-direction: row;
}

.BookPublisher{
    font-size: 0.8rem;
    padding: 0.3rem 0.5rem;
    border: none;
    color: grey;
    background-color: transparent;
    outline: none;
    margin-bottom: 1rem;
}
.BookPublisher:hover {
    border: none;
}

.BookPublisher option{
    padding: 1rem 0;
    background-color: white;
    border:none;
}


/* --------------------------------FORMAT-------------------------------- */
.BookFormatContainer {
    display: flex;
    flex-direction: row;
    padding: 0 1rem;
}

.FilterOption{
    font-size: 0.6rem;
    height: 2.1rem;
    width: 2.1rem;
    border-radius: 50px;
    border: 2px solid #17424b;
    outline: none;
}
.FilterOption:hover,
.FormatActive {
    background-color: #17424b !important;
    font-size: 0.6rem;
    color:white !important;
    height: 2.1rem;
    width: 2.1rem;
    border-radius: 50px;
}