/*=============>>>reviews<<<=================*/

.ReviewContainer {
  background-color: #efefdc;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* .RatingContainer {
  display: flex;
  align-items: center;
  font-size: 20px;
  margin-bottom: 10px;
  padding: 5px;
} */

.CommentContainer textarea {
  width: 100%;
  height: 100px;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.SubmitContainer {
  text-align: right;
}

.SubmitContainer button {
  padding: 8px 16px;
  font-size: 14px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}
.SubmitContainer button:hover {
  background-color: #0056b3;
  transform: translate(0, 5px); 
}

.SubmitContainer button[disabled] {
  background-color: #ddd;
  cursor: not-allowed;
}



/* input[type="range"] {
  /* Eliminar los estilos predeterminados */
  /* margin-top: 0.5rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  height: 0.21rem;
  border-radius: 50px;
  outline: none;
} */

/* Estilos para el "track" o riel del input range */
/* input[type="range"]::-webkit-slider-runnable-track {
  border-radius: 20px;
  height: 0.3rem;
} */

/* Estilos para el "thumb" o círculo del input range */
/* input[type="range"]::-webkit-slider-thumb {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #17424b;
  -webkit-appearance: none;
  appearance: none;
  cursor: pointer;
  transform: translateY(calc(25% - 8px));
}  */

.rating-list {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  gap: 0.1rem;
}

/* Estilos para los inputs ocultos */
.rating-list input[type="radio"] {
  display: none;
}

/* Estilos para los labels (circulos o corazones) */
.rating-list label {
  font-size: 3.5rem;
  cursor: pointer;
  color: #ccc;
}

/* Estilos para los labels cuando el input está seleccionado */
.rating-list input[type="radio"]:checked + label {
  color: #ffcc00; /* Color cuando está seleccionado */
}