.FirstContainer{
    padding: 8rem 6rem;
    padding-top: 12rem;
}

.HeaderContainer{
    max-width: 130rem;
    padding: 0 3.2rem;
}

.HeaderSectionData p{
    margin: 0;
    padding: 1rem 0;
    text-align: left;
}
  
.HeaderSectionData h1{
    text-transform: capitalize;
    font-weight: 100;
    text-align: left;
}
  
.intro-data {
    margin-bottom: 0;
}


.HeaderSectionImage{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.figureHeader {
    position: relative;
}

.figureHeader::after {
    content: "";
    width: 85%;
    height: 80%;
    background-color: #b38a83;
    position: absolute;
    left: 37%;
    top: -3rem;
    z-index: -1;
}

.HeaderImage {
    width: 110%;
    height: auto;
}