.Card {
}


/* -------------------------imagen------------------------- */
.figureStore{
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    height: 18rem;
    transition: all 0.5s linear;
}

.figureStore::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 100%;
    transition: all 0.2s linear;
    cursor: pointer;
}

.figureStore img {
    max-width: 100%;
    margin-top: 1.5rem;
    height: 100%;
    transition: all 0.3s linear;
}
.figureStore img:hover {
    transform: scale(1.1);
}

/* -------------------------data------------------------- */
.BookCard-data {
    padding: 0 1rem;
}
  
.BookCard-data-flex {
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
  
.BookCard-data--price {
    
}
  
    /* .btn {
      margin: 2rem auto;
      background-color: rgb(0 0 0 / 0%);
      border: 0.1rem solid rgb(98 84 243);
      display: flex;
      justify-content: center;
      align-items: center;
  
      &:hover {
        background-color: rgb(98 84 243);
      }
  
      &:hover a {
        color: #fff;
      }
      a {
        color: rgb(98 84 243);
        font-size: 1.4rem;
      }
    } */
