.ConfirmationContainer{
    padding: 4rem 10rem;
    margin-bottom: 10rem;
    margin-top: 2%;
}

.MessageConfirmation{
    padding: 5rem 0;
    padding-bottom: 10rem;
    color: #17424b;
    font-size: 1.5rem;
    text-align: center;
    text-decoration: none;
  }