.ContainerGridFilterColumn {
  padding: 4rem 7rem;
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  gap: 1rem;
  margin-top: 4%;
}


/* --------------------------------------------------------Side Bar-------------------------------------------------------- */
.FilterStore{
  margin-top: 1rem;
}


/* --------------------------------------------------------Contenido-------------------------------------------------------- */
.booksAvailable {
  display: flex;
  align-items: center;
  color: grey;
  font-size: 0.8rem;
}

.OrderStore{
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 1rem 0;
}

.PaginationConteinerTienda{
  display: flex;
  justify-content: center;
  margin-top: 40px;
  padding-bottom: 40px;
}

/* Responsive para menos de 768px */
@media (max-width: 1080px) {
    .ContainerGridFilterColumn {
      padding: 6rem 2rem;
    }
  }
@media (max-width: 767px) {
    .SearchOrder {
      position: static;
      flex-direction: column;
      align-items: center;
      width: 100%;
      left: 0;
    }
    .ContainerGridFilterColumn {
      padding: 7rem 2rem;
    }
  }

  /* Responsive para menos de 480px */
  @media (max-width: 479px) {
    .SearchOrder {
      padding: 10px;
    }
    .ContainerGridFilterColumn {
      padding: 9rem 2rem;
    }
  }