.DetailContainer{
    padding: 2rem 1rem;
    font-weight: 400;
    margin-top: 4%;
}

.ContainerContainer{
    padding: 1rem 6rem;
    margin-bottom: 5rem;
}

.hrStyle{ 
    margin: 0.5rem 0;
}

/* -----------------------------------------------IMAGENES---------------------------------------------------- */
.DetailImages{
    display: flex;
    justify-content: center;
    max-width: 100%;
}

.DetailImages img {
    max-width: 100%;
    max-height: 80vh; /* Establecer la altura máxima según tu preferencia */
    object-fit: contain; /* O utiliza 'cover' o 'contain' según tu necesidad */
  }
/* .GridFourColumns{
    flex-direction: row;
    justify-items: center;
    align-items: center;
    width: 100%;
    gap: 1rem;
} */


/* -----------------------------------------------DATA---------------------------------------------------- */
.HeartFav{
    border: none;
    background-color: transparent;
}

.DetailData h2{
    text-transform: capitalize;
    font-weight: 400;
    white-space: normal;
}
.DetailData p{
    padding: 0.5rem 0;
    text-align: left;
}

.innerTextStyle{
    font-weight: bold;
    color: #17424b;
}

.outerTextStyle{
    color: grey;
}


/* -----------------------------------------------SECTOR ICONOS */
.DetailDetail{
    display: flex;
    text-transform: capitalize;
    justify-content: space-between;
    flex-direction: row;
    padding: 0.5rem; 
}

.DetailIcons{
    text-align: center;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.DetailIcons p{
    text-align: center;
    display: flex;
    flex-direction: column;
    color: #17424b;
    font-size: 13px;
    overflow-wrap: break-word;
}

.IconStyleDetail{
    color: #17424b;
    margin: auto;
    font-size: 1.3rem;
}


/* -----------------------------------------------SECTOR BOTONES */
.Botonera{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* -----------------------------------------------COMENTARIOS */
.ComentariosDetail{
    background-color: #efefdc;
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

/* -----------------------------------------------IMAGENES---------------------------------------------------- */
/* .images-column {
    flex: 1; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.thumbnail {
    cursor: pointer;
    width: 100px;
    height: 100px;
    margin: 5px;
    border: 1px solid #ccc;
}
  
.current-image-column {
    flex: 1; 
    display: flex;
    justify-content: center; 
    align-items: center; 
}
  
.current-image {
    width: 300px;
    height: 300px;
    border: 1px solid #ccc;
} */