/* --------------------------NO LO BORREN!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;400');

*{
  padding: 0;
	margin: 0;
}

body{
  margin: 0;
  padding: 0;
  background-color: rgb(246, 245, 245);
  font-family: 'Lato', sans-serif;
}

.GridTwoColumns{
  display: Grid;
  gap: 0.5rem;
  grid-template-columns: repeat(2, 1fr);
}
.GridThreeColumns{
  display: Grid;
  gap: 2rem;
  grid-template-columns: repeat(3, 1fr);
}
.GridFourColumns{
  display: Grid;
  gap: 1rem;
  grid-template-columns: 1fr 1.2fr 0.5fr 0.8fr;
}
.grid-five-column {
  display: Grid;
  grid-template-columns: repeat(4, 1fr) 0.3fr;
  text-align: center;
  align-items: center;
}

.Buttons{
  text-decoration: none;
  width: fit-content;
  background-color: #17424b;
  color: rgb(255 255 255);
  padding: 1.4rem 2.4rem;
  border: none;
  text-transform: uppercase;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  outline: none;
}

.Buttons:hover,
.Buttons:active{
  transform: scale(0.96);
}

.BotoneraSumaResta{
  display: flex;
  flex-direction: row;
  margin: auto;
  align-items: center;
  padding: 0.5rem 0;
}

.ButtonsSumaResta{
  border: none;
  font-size: 1.5rem;
  justify-content: center;
  background-color: transparent;
  padding: 0 1.5rem;
}

.booksAvailable{
  display: flex;
  align-items: center;
  color: grey;
  font-size: 0.8rem;
}

@media (max-width: 980px) {
  .GridTwoColumns , .GridThreeColumns, .GridFourColumns{
    grid-template-columns: 1fr;
    }
}

/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */