.WishlistContainer2{
  padding: 4rem 10rem;
  margin-bottom: 10rem;
  margin-top: 2%;
}

/* ------------------------------------TITLE------------------------------------ */
.titleContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 20vh;
  position: relative;
  margin-bottom: 2rem;
}

.titleContainerTexto{
  text-align: center;
  padding: 0 1rem;
  color: #17424b;
  font-weight: 400;
  font-size: 2rem;
  font-family:'Times New Roman', Times, serif;
  letter-spacing: 0.5rem;
  z-index: 1;
  background-color: rgb(246, 245, 245)
}

.titleContainerLine {
  position: absolute; 
  top: 50%;
  left: 0;
  right: 0;
  border: 0.1px solid silver;
  z-index: 0;
}


/* ------------------------------------EMPTY------------------------------------ */
.emptyWishlist{
  font-size: 0.8rem;
  margin-bottom: 2rem;
  font-weight: 400;
}