.ReleaseNowContainer{
    padding-top: 2rem;
    background-color: white;
    width: 100%;
}

.ReleaseNowHomeTitle{
    padding: 0 6rem;
    display: flex;
    flex-direction: column;
}

.ReleaseNowHomeTitle p{
    margin-bottom: 0.5rem;
    color: #17424b;
}

.ReleaseNowHomeTitle h1{
    margin-top: 0;
    font-size: 1.9rem;
    font-family: "Work Sans", sans-serif;
    font-weight: 100;
}



.scrollContainer{
    display: flex;
    overflow: auto;
    white-space: nowrap;
    gap:5rem;
    margin-bottom: 6rem;
}
  
.ImagenesCarrusel img {
    padding: 10px;
}

.ImagenesCarrusel h1 {
    color: #17424b;
    font-size: 16px;
    font-family: "Work Sans", sans-serif;
    font-weight: 100;
    margin-bottom: 4rem;
}



.scrollContainer::-webkit-scrollbar {
    width: 1rem; /* Ancho de la barra de desplazamiento */
}
  
.scrollContainer::-webkit-scrollbar-thumb {
    background-color: #17424b; /* Color del pulgar (parte móvil) */
}
  
.scrollContainer::-webkit-scrollbar-thumb:hover {
    background-color: #17424b; /* Color del pulgar en hover */
}
  
.scrollContainer::-webkit-scrollbar-track {
    background-color: transparent; /* Color de la pista (parte inmóvil) */
    border: none;
}